:root {
    
}

.hamburger {
  background-color: #4f46e5 !important;
  &__close-icon {
    .icon,
    .icon * {
      color: #fff !important;
      fill: #fff !important;
      stroke: #fff !important;
    }
  }
  &__close-icon {
    .icon,
    .icon * {
      color: #fff !important;
      fill: #fff !important;
      stroke: #fff !important;
    }
  }
}