DATABASE_URL=mongodb://127.0.0.1/your-database-name
PAYLOAD_SECRET=YOUR_SECRET_HERE
NEXT_PUBLIC_API_URL=http://localhost:3000
NEXT_PUBLIC_SERVER_URL=http://localhost:3000

# Stripe Connect
STRIPE_SECRET_KEY=
STRIPE_CONNECT_SECRET_KEY=

# PayPal Connect
PAYPAL_CLIENT_ID=
PAYPAL_CLIENT_SECRET=
PAYPAL_API_BASE_URL=https://api-m.sandbox.paypal.com
